---
apiVersion: v1
kind: ConfigMap
metadata:
  name: forgejo-runner-config
  namespace: forgejo
data:
  config.yml: |
    log:
      level: debug

    runner:
      file: /data/.runner
      capacity: 2
      timeout: 3h

    container:
      network: bridge
      options: "--dns 10.0.20.53"
      valid_volumes: []
