---
apiVersion: v1
kind: ConfigMap
metadata:
  name: forgejo-runner-config
  namespace: forgejo
data:
  config.yml: |
    log:
      level: info

    runner:
      file: /data/.runner
      capacity: 2
      timeout: 3h

    container:
      network: bridge
      options: "--dns 10.0.20.53"
      valid_volumes: []

    labels:
      - "ubuntu-latest:docker://node:20-bookworm"
      - "docker:docker://docker:27"
