---
apiVersion: v1
kind: ConfigMap
metadata:
  name: forgejo-runner-config
  namespace: forgejo
data:
  config.yml: |
    log:
      level: debug

    runner:
      file: /data/.runner
      capacity: 2
      timeout: 3h

    container:
      network: bridge
      options: "--dns 10.0.20.53 -e GIT_SSL_NO_VERIFY=true -v /var/run/docker.sock:/var/run/docker.sock"
      valid_volumes:
        - /var/run/docker.sock
