---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infrastructure
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: "34.*"
    helm:
      valuesObject:
        providers:
          kubernetesIngress:
            publishedService:
              enabled: true
        service:
          type: LoadBalancer
          spec:
            loadBalancerIP: "10.0.20.80"
          annotations:
            metallb.universe.tf/address-pool: k8s-vlan-pool
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
        logs:
          general:
            level: INFO
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
