---
apiVersion: v1
kind: ConfigMap
metadata:
  name: glance-config
  namespace: glance
data:
  glance.yml: |
    pages:
      - name: Homelab
        columns:
          - size: full
            widgets:
              - type: monitor
                title: Services
                cache: 1m
                sites:
                  - title: ArgoCD
                    url: https://argocd.home.lab
                    icon: si:argo
                    allow-insecure: true
                  - title: Grafana
                    url: https://grafana.home.lab
                    icon: si:grafana
                    allow-insecure: true
                  - title: Linkerd
                    url: https://linkerd.home.lab
                    icon: si:linkerd
                    allow-insecure: true
                  - title: pgAdmin
                    url: https://pgadmin.home.lab
                    icon: si:postgresql
                    allow-insecure: true
                  - title: Workout Tracker
                    url: https://workout.home.lab
                    allow-insecure: true
                  - title: CorpoCache
                    url: https://cache.home.lab
                    allow-insecure: true
                  - title: Proxmox (pve-identity)
                    url: https://pve-identity.home.lab:8006
                    icon: si:proxmox
                    allow-insecure: true
                  - title: Proxmox (pve-r720)
                    url: https://pve-r720.home.lab:8006
                    icon: si:proxmox
                    allow-insecure: true
                  - title: Proxmox (pve-desktop)
                    url: https://pve-desktop.home.lab:8006
                    icon: si:proxmox
                    allow-insecure: true
                  - title: Unifi Controller
                    url: https://cloudkey.home.lab
                    icon: si:ubiquiti
                    allow-insecure: true
              - type: bookmarks
                title: Other Services
                groups:
                  - title: Voice
                    links:
                      - title: TeamSpeak
                        url: ts3server://ts.home.lab
                        icon: si:teamspeak

      - name: Startpage
        width: slim
        center-vertically: true
        columns:
          - size: full
            widgets:
              - type: search
                autofocus: true

              - type: bookmarks
                groups:
                  - title: General
                    links:
                      - title: Gmail
                        url: https://mail.google.com/mail/u/0/
                      - title: Amazon
                        url: https://www.amazon.com/
                      - title: Github
                        url: https://github.com/
                  - title: Entertainment
                    links:
                      - title: YouTube
                        url: https://www.youtube.com/
                      - title: Prime Video
                        url: https://www.primevideo.com/
                      - title: Disney+
                        url: https://www.disneyplus.com/
                  - title: Social
                    links:
                      - title: Reddit
                        url: https://www.reddit.com/
                      - title: Twitter
                        url: https://twitter.com/
                      - title: Instagram
                        url: https://www.instagram.com/

      - name: Markets
        columns:
          - size: small
            widgets:
              - type: markets
                title: Indices
                markets:
                  - symbol: SPY
                    name: S&P 500
                  - symbol: DX-Y.NYB
                    name: Dollar Index

              - type: markets
                title: Crypto
                markets:
                  - symbol: BTC-USD
                    name: Bitcoin
                  - symbol: ETH-USD
                    name: Ethereum

              - type: markets
                title: Stocks
                sort-by: absolute-change
                markets:
                  - symbol: NVDA
                    name: NVIDIA
                  - symbol: AAPL
                    name: Apple
                  - symbol: MSFT
                    name: Microsoft
                  - symbol: GOOGL
                    name: Google
                  - symbol: AMD
                    name: AMD
                  - symbol: RDDT
                    name: Reddit
                  - symbol: AMZN
                    name: Amazon
                  - symbol: TSLA
                    name: Tesla
                  - symbol: INTC
                    name: Intel
                  - symbol: META
                    name: Meta

          - size: full
            widgets:
              - type: rss
                title: News
                style: horizontal-cards
                feeds:
                  - url: https://feeds.bloomberg.com/markets/news.rss
                    title: Bloomberg
                  - url: https://moxie.foxbusiness.com/google-publisher/markets.xml
                    title: Fox Business
                  - url: https://moxie.foxbusiness.com/google-publisher/technology.xml
                    title: Fox Business

              - type: group
                widgets:
                  - type: reddit
                    show-thumbnails: true
                    subreddit: technology
                  - type: reddit
                    show-thumbnails: true
                    subreddit: wallstreetbets

              - type: videos
                style: grid-cards
                collapse-after-rows: 3
                channels:
                  - UCvSXMi2LebwJEM1s4bz5IBA
                  - UCV6KDgJskWaEckne5aPA0aQ
                  - UCAzhpt9DmG6PnHXjmJTvRGQ

          - size: small
            widgets:
              - type: rss
                title: News
                limit: 30
                collapse-after: 13
                feeds:
                  - url: https://www.ft.com/technology?format=rss
                    title: Financial Times
                  - url: https://feeds.a.dj.com/rss/RSSMarketsMain.xml
                    title: Wall Street Journal

      - name: Gaming
        columns:
          - size: small
            widgets:
              - type: twitch-top-games
                limit: 20
                collapse-after: 13
                exclude:
                  - just-chatting
                  - pools-hot-tubs-and-beaches
                  - music
                  - art
                  - asmr

          - size: full
            widgets:
              - type: group
                widgets:
                  - type: reddit
                    show-thumbnails: true
                    subreddit: pcgaming
                  - type: reddit
                    subreddit: games

              - type: videos
                style: grid-cards
                collapse-after-rows: 3
                channels:
                  - UCNvzD7Z-g64bPXxGzaQaa4g
                  - UCZ7AeeVbyslLM_8-nVy2B8Q
                  - UCHDxYLv8iovIbhrfl16CNyg
                  - UC9PBzalIcEQCsiIkq36PyUA

          - size: small
            widgets:
              - type: reddit
                subreddit: gamingnews
                limit: 7
                style: vertical-cards
