---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: workout-tracker
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: applications
  source:
    repoURL: https://github.com/csGIT34/workouttracker.git
    targetRevision: master
    path: k8s/
  destination:
    server: https://kubernetes.default.svc
    namespace: workout-tracker
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
