---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: redis
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infrastructure
  source:
    repoURL: registry-1.docker.io/bitnamicharts
    chart: redis
    targetRevision: "21.*"
    helm:
      valuesObject:
        architecture: standalone
        auth:
          enabled: false
        master:
          persistence:
            enabled: true
            size: 2Gi
            storageClass: local-path
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 250m
              memory: 256Mi
        replica:
          replicaCount: 0
  destination:
    server: https://kubernetes.default.svc
    namespace: redis
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
