---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harbor
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infrastructure
  source:
    repoURL: https://helm.goharbor.io
    chart: harbor
    targetRevision: "1.18.*"
    helm:
      valuesObject:
        expose:
          type: ingress
          ingress:
            className: traefik
            annotations:
              cert-manager.io/cluster-issuer: home-lab-ca
              traefik.ingress.kubernetes.io/router.entrypoints: websecure
            hosts:
              core: registry.home.lab
            tls:
              - secretName: harbor-tls
                hosts:
                  - registry.home.lab
          tls:
            enabled: true
            certSource: secret
            secret:
              secretName: harbor-tls
        externalURL: https://registry.home.lab
        harborAdminPassword: ""
        existingSecretAdminPassword: harbor-admin-secret
        existingSecretAdminPasswordKey: HARBOR_ADMIN_PASSWORD
        database:
          type: external
          external:
            host: "10.0.30.10"
            port: "5432"
            username: harbor
            coreDatabase: harbor_core
            existingSecret: harbor-db-secret
            sslmode: disable
        redis:
          type: external
          external:
            addr: "redis-master.redis.svc.cluster.local:6379"
        notary:
          enabled: false
        trivy:
          enabled: true
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
        persistence:
          enabled: true
          persistentVolumeClaim:
            registry:
              storageClass: local-path
              size: 50Gi
            jobservice:
              jobLog:
                storageClass: local-path
                size: 1Gi
  destination:
    server: https://kubernetes.default.svc
    namespace: harbor
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
