apiVersion: v1
kind: Secret
metadata:
  name: linkerd-trust-anchor
  namespace: {{ linkerd_namespace }}
type: kubernetes.io/tls
data:
  tls.crt: {{ linkerd_ca_crt.content }}
  tls.key: {{ linkerd_ca_key.content }}
