apiVersion: v1
kind: Secret
metadata:
  name: linkerd-identity-issuer
  namespace: {{ linkerd_namespace }}
type: kubernetes.io/tls
data:
  tls.crt: {{ linkerd_issuer_crt.content }}
  tls.key: {{ linkerd_issuer_key_content | b64encode }}
