---
- name: Gather k3s server token
  hosts: k3s_servers
  tasks:
    - name: Read k3s node token
      ansible.builtin.slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: k3s_node_token

    - name: Set k3s token fact
      ansible.builtin.set_fact:
        k3s_token: "{{ k3s_node_token.content | b64decode | trim }}"

- name: Configure k3s agent nodes
  hosts: k3s_agents
  vars:
    k3s_server_ip: "{{ hostvars[groups['k3s_servers'][0]]['ansible_host'] }}"
    k3s_token: "{{ hostvars[groups['k3s_servers'][0]]['k3s_token'] }}"
  roles:
    - common
    - k3s_agent
