---
- name: Configure k3s agent nodes
  hosts: k3s_agents
  vars:
    k3s_server_ip: "{{ hostvars[groups['k3s_servers'][0]]['ansible_host'] }}"
    k3s_token: "{{ hostvars[groups['k3s_servers'][0]]['k3s_token'] }}"
  roles:
    - common
    - k3s_agent
