---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unpoller
  namespace: monitoring
  labels:
    app: unpoller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: unpoller
  template:
    metadata:
      labels:
        app: unpoller
    spec:
      containers:
        - name: unpoller
          image: ghcr.io/unpoller/unpoller:latest
          ports:
            - name: metrics
              containerPort: 9130
              protocol: TCP
          env:
            - name: UP_UNIFI_DEFAULT_URL
              value: "https://10.0.10.3"
            - name: UP_UNIFI_DEFAULT_USER
              valueFrom:
                secretKeyRef:
                  name: unpoller-credentials
                  key: UP_UNIFI_DEFAULT_USER
            - name: UP_UNIFI_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: unpoller-credentials
                  key: UP_UNIFI_DEFAULT_PASS
            - name: UP_UNIFI_DEFAULT_SAVE_DPI
              value: "true"
            - name: UP_INFLUXDB_DISABLE
              value: "true"
            - name: UP_PROMETHEUS_DISABLE
              value: "false"
            - name: UP_PROMETHEUS_HTTP_LISTEN
              value: "0.0.0.0:9130"
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
