---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: speedtest-tracker-config
  namespace: speedtest-tracker
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
